name: build ambient-context-lwt

on:
   push:
      branches:
         - main
   pull_request:

jobs:
   run:
      name: build w/ Lwt
      strategy:
         fail-fast: true
         matrix:
            os:
               - ubuntu-latest
            ocaml-compiler:
               - "4.08"
               - "4.14"
               - "5.4"

      runs-on: ${{ matrix.os }}
      steps:
         - uses: actions/checkout@v6
         - name: Use OCaml ${{ matrix.ocaml-compiler }}
           uses: ocaml/setup-ocaml@v3
           with:
              ocaml-compiler: ${{ matrix.ocaml-compiler }}
              dune-cache: true
              opam-pin: false
         - run: opam pin . -y -n
         - run: opam install ambient-context-lwt --locked --deps-only --with-doc --with-test --with-dev-setup
         - run: opam exec -- dune build @install --only-packages=ambient-context,ambient-context-lwt
         - run: opam exec -- dune runtest -f --only-packages=ambient-context,ambient-context-lwt

         # now redo it with hmap installed
         - run: opam install hmap

         - run: opam exec -- dune build @install --only-packages=ambient-context,ambient-context-lwt
         - run: opam exec -- dune runtest -f --only-packages=ambient-context,ambient-context-lwt
